########## SYSTEM ##########
PUID=
PGID=
TZ=
LOCAL_NETWORK=
LOCAL_IPS=127.0.0.1/32,10.0.0.0/8,192.168.0.0/16,172.16.0.0/12,192.168.5.12

########## DIRECTORIES ##########
USERDIR=
DOCKERDIR=
DATADIR=
CLOUDDIR=
MEDIADIR=

########## DOMAIN ##########
DOMAINNAME_CLOUD_SERVER=
CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_IPS=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.1>

########## PORTS ##########
PORTAINER_PORT=9000
RADARR_PORT=7878
SONARR_PORT=8989
TRANSMISSION_PORT=9091
JACKETT_PORT=9117
PLEX_PORT=32400
PLEX_WEB_TOOLS_PORT=33400
BAZARR_PORT=6767
FILE_BROWSER_PORT=8081
PROWLARR_PORT=9696
READARR_PORT=8787

########## APPS ##########
TRANSMISSION_RPC_PASSWORD=
TRANSMISSION_RPC_USERNAME=
PLEX_CLAIM=
